@font-face {
    font-family: 'myfont';
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}    

body{
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding-top: 10%;
}
.card{
    border-radius: 20px;
    min-height: 70vh;
    width: 23%;
    background-color: hsl(0, 0%, 8%);
    text-align: center;
    font-family: 'myfont';
}
.avatar{
    margin: auto;
    display: inline-flex;
    padding-top: 20px;
}
.avatar img{
    border-radius: 50%;
    margin: auto;
    width: 30%;
}
.intro{
    padding: 10px;
    line-height: 20px;
}
.intro .name{
    font-weight: 500;
    font-size: 17px;
    padding: 2px;
}
.intro .location{
    color: hsl(75, 94%, 57%);
    padding: 2px;
    font-size: 10px;
}
.about{
    font-size: 10px;
    padding: 10px;
    color: hsl(0, 0%, 74%);
}
.group-contacts{
    width: 80%;
    display: inline-flex;
    flex-direction: column;
    /* border: 1px solid; */
}
.contacts {
    margin: 8px ;
    padding: 5px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 20%);
    cursor: pointer;
}
.contacts a{
    text-decoration: none;
    color: #fff;
    font-size: small;
    font-weight: 500;
}
.contacts:hover{
    color: #000;
    background-color: hsl(75, 94%, 57%);
}
    
    .attribution { 
        font-size: 11px ; text-align: center; }
    .attribution a { 
        color: hsl(228, 45%, 44%); }